@media (min-width: 769px) {
    h1 {
        font-size: 2.75rem;
    }

    .mobile-menu {
        display: none;
    }

    /* .about-container>h1 {
        font-size: 2.75rem;
    } */

    .references-page h1,
    .siteplan-page h1 {
        font-size: 2.25rem;
    }

    .thumb-media img {
        object-fit: cover;
    }
}